* {
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: #222;
    background-image: url('bg3.jpg');
    background-size: cover;
    background-position: top center;
    font-size: 120%;
    overflow: hidden;
}

.card {
    background: #dddddd1f;
    color: rgba(34, 34, 34, 0.973);
    font-size: 20px;
    font-weight: 700;
    padding: 2em;
    border-radius: 20px;
    height: 20em;
    width: 100%;
    max-width: 420px;
    margin: 0em;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.616), 0 6px 20px 0 rgba(0, 0, 0, 0.582);
    backdrop-filter: blur(4px);
    border: 0em solid #fff;
    box-shadow: 0 0 10px #acacacea;
}


/*
.card:hover {
    background: #6bffdaea;
    box-shadow: 0 0 30px #6bffdaea;
}
*/

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #6bffdaea;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transition-property: background;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #e9e9e9f1;
    text-decoration: solid;
    color: black;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

button:hover {
    background: #00ffbfea;
    transition: .5s;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
    font-size: 65px;
    color: #fff;
    text-shadow: 1px 1px #000000;
    letter-spacing: 3px;
}

.city {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.973);
    letter-spacing: 3px;
    text-align: center;
    color: rgba(255, 255, 255, 0.973);
    text-shadow: 1px 1px #000000;
}

.humidity {
    font-size: 22px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.973);
    text-shadow: 1px 1px #000000;
    
}

.wind {
    font-size: 22px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.973);
    text-shadow: 1px 1px #000000;
}

.description {
    font-size: 20px;
    letter-spacing: 3px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex .icon {
    font-size: 50px;
    
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
    color: rgba(255, 255, 255, 0.973);
    text-shadow: 1px 1px #000000;
}

.weather .loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather .loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}


/*-----------Digital CLOCK*/

.datetime {
    color: rgba(34, 34, 34, 0.973);
    font-family: 'Lato', sans-serif;
    position: absolute;
    width: 250px;
    height: 43px;
    padding: 15px 10px;
    margin-left: 0em;
    margin-top: 0px;
    margin-bottom: 36em;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.384));
    transition: 0.5s;
    transition-property: background, box-shadow;
}

.text {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.date {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-----------Everyting but the last child Digital CLOCK*/

.time span:not(:last-child) {
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}


/*-----------Last child i.e. AM and PM*/

.time span:last-child {
    background: #6bffdaea;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2px;
    padding: 0 5px;
    border-radius: 3px;
}


/*-----------Vanta Animated Background*/

#vanta-canvas {
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}